
<form action="/contact" method="POST" class="container col-10 col-md-4">
    <h2 class="mt-5 mb-3 display-5 text-danger font-weight-bold text-center">Contact Us</h2>
    <p class="mb-5 text-center lead text-capitalize">we will happy to help you!</p>
     <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Full Name</label>
    <input type="text" placeholder="Enter Your Full Name" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" placeholder="Enter Your Email " name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Phone Number</label>
    <input type="number" name="phone" placeholder="Phone Number" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Massage</label>
    <input type="text" name="massage" placeholder="Massage" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>