
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="mx-4 my-5 col-10 col-md-4 img_content_box position-relative">
                    <figure class="img_box w-100 ">
                        <img src="./images/kausar.jpeg" class="img-fluid" alt="kausarpng">
                    </figure>
                   <div class="top-0 h-100 d-grid place-items-center content_box position-absolute">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut est tenetur id repellat repellendus. Dolor aperiam similique iusto ex culpa?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, expedita. Sint praesentium neque laboriosam expedita. Consectetur iusto sed unde ullam nisi tempore doloribus totam minima! Qui voluptatum blanditiis voluptatibus incidunt!</p>
                   </div>
                </div>
                <div class="mx-4 my-5 col-10 col-md-4 img_content_box position-relative">
                    <figure class="img_box w-100 ">
                        <img src="./images/kausar.jpeg" class="img-fluid" alt="kausarpng">
                    </figure>
                   <div class="top-0 h-100 d-grid place-items-center content_box position-absolute">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut est tenetur id repellat repellendus. Dolor aperiam similique iusto ex culpa?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, expedita. Sint praesentium neque laboriosam expedita. Consectetur iusto sed unde ullam nisi tempore doloribus totam minima! Qui voluptatum blanditiis voluptatibus incidunt!</p>
                   </div>
                </div>
                <div class="mx-4 my-5 col-10 col-md-4 img_content_box position-relative">
                    <figure class="img_box w-100 ">
                        <img src="./images/kausar.jpeg" class="img-fluid" alt="kausarpng">
                    </figure>
                   <div class="top-0 h-100 d-grid place-items-center content_box position-absolute">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut est tenetur id repellat repellendus. Dolor aperiam similique iusto ex culpa?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, expedita. Sint praesentium neque laboriosam expedita. Consectetur iusto sed unde ullam nisi tempore doloribus totam minima! Qui voluptatum blanditiis voluptatibus incidunt!</p>
                   </div>
                </div>
                <div class="mx-4 my-5 col-10 col-md-4 img_content_box position-relative">
                    <figure class="img_box w-100 ">
                        <img src="./images/kausar.jpeg" class="img-fluid" alt="kausarpng">
                    </figure>
                   <div class="top-0 h-100 d-grid place-items-center content_box position-absolute">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut est tenetur id repellat repellendus. Dolor aperiam similique iusto ex culpa?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, expedita. Sint praesentium neque laboriosam expedita. Consectetur iusto sed unde ullam nisi tempore doloribus totam minima! Qui voluptatum blanditiis voluptatibus incidunt!</p>
                   </div>
                </div>
                <div class="mx-4 my-5 col-10 col-md-4 img_content_box position-relative">
                    <figure class="img_box w-100 ">
                        <img src="./images/kausar.jpeg" class="img-fluid" alt="kausarpng">
                    </figure>
                   <div class="top-0 h-100 d-grid place-items-center content_box position-absolute">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut est tenetur id repellat repellendus. Dolor aperiam similique iusto ex culpa?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, expedita. Sint praesentium neque laboriosam expedita. Consectetur iusto sed unde ullam nisi tempore doloribus totam minima! Qui voluptatum blanditiis voluptatibus incidunt!</p>
                   </div>
                </div>
                <div class="mx-4 my-5 col-10 col-md-4 img_content_box position-relative">
                    <figure class="img_box w-100 ">
                        <img src="./images/kausar.jpeg" class="img-fluid" alt="kausarpng">
                    </figure>
                   <div class="top-0 h-100 d-grid place-items-center content_box position-absolute">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut est tenetur id repellat repellendus. Dolor aperiam similique iusto ex culpa?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, expedita. Sint praesentium neque laboriosam expedita. Consectetur iusto sed unde ullam nisi tempore doloribus totam minima! Qui voluptatum blanditiis voluptatibus incidunt!</p>
                   </div>
                </div>

                
            </div>
        </div>
    </div>
</div>