<div class="container my-5">
    <div class="row">
        <div class="col-md-10 col-12 m-md-auto">
            <div class="row">
                <div class="order-2 col-md-6 col-sm-10 d-flex offset-2 offset-md-0 flex-column justify-content-center align-items-start text-start order-md-1">
                    <h1 class="display-1 text-capitalize">we will imporved to <span class="text-primary">grow your biusness!</span></h1>
                    <p class="display-6 my-4">We are team of proffetional devoloper!</p>
                    <button class="btn btn-primary text-capitalize">learn more</button>
                </div>
                 <div class="order-1 order-md-2 col-md-6 col-sm-10 offset-2 offset-md-0 d-flex flex-column justify-content-center align-items-center">
                    <img src="./images/growth.svg" class="img-fluid" alt="growthsvg">
                </div>
            </div>
        </div>
    </div>
</div>
