<div class="container">
    <div class="row">
        <div class="col-md-10 col-12 m-md-auto">
            <div class="row">
                <div class="col-md-6 col-sm-10 d-flex flex-column justify-content-center align-items-center">
                    <h1>Jamalpur is a very good town and this is nice!</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure debitis repellat asperiores facere explicabo dolores cumque odio quaerat! Voluptatem, delectus. Impedit totam aliquam vero voluptas accusamus temporibus obcaecati explicabo deleniti voluptatum, alias, debitis itaque molestias, accusantium adipisci? Quaerat, deleniti voluptas!</p>
                    <button class="btn btn-primary text-capitalize">see more</button>
                </div>
                 <div class="col-md-6 col-sm-10 d-flex flex-column justify-content-center align-items-center">
                    <h1>Jamalpur is a very good town and this is nice!</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure debitis repellat asperiores facere explicabo dolores cumque odio quaerat! Voluptatem, delectus. Impedit totam aliquam vero voluptas accusamus temporibus obcaecati explicabo deleniti voluptatum, alias, debitis itaque molestias, accusantium adipisci? Quaerat, deleniti voluptas!</p>
                    <button class="btn btn-primary text-capitalize">see more</button>
                </div>
            </div>
        </div>
    </div>
</div>